version: '3.1'

services:

  api:
    image: {{BACKEND_DOCKER_IMAGE}}
    restart: always
    networks:
      - apinet
    ports:
      - 9998:5000
    environment:
      APP_PORT: 9998
      SWAGGER_HOST: 100.26.183.20

networks:
  apinet:
    driver: bridge