version: '3.1'

services:
  newman:
    image: postman/newman:alpine
    restart: on-failure
    command:
        run {{POSTMAN}}.postman_collection.json
        -e {{POSTMAN_ENVIROMENT}}.postman_environment.json 
        -r cli,json,junit
        --reporter-json-export="devOps-results.json"
    volumes:
      - {{POSTMAN_PATH}}:/etc/newman